body{
    background-color: rgb(191, 209, 216);   
     color:rgba(245, 238, 242, 0.048);
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     display: flex;
     justify-content: center; 
     align-items: center;
     height: 700px;
     margin: 0;
    }
    button{
    background: rgb(131, 11, 57);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    }

    .passo{
        display: none;
    }

    .passo.ativo{
        display:block ;
    }

    main{
        text-align: center;
        max-width: 90%;

    }
    imag{
        max-width: 90%;
    }